body {

     background: #8FC49E
}

@keyframes moveRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100px);
  }
}




@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


#menuButton {
    background-color: #E8FCE5;
    box-shadow: 16px 10px 0px #FF665B;
    color: #A5E2A3;
    padding: 1em 1.5em;
    font-size: 16pt;
    text-align: left;
    /* margin-left: 40px; */
    text-decoration: none;
    text-transform: uppercase;
    font-family: Tahoma, Geneva, sans-serif;
}

#menuButton:hover {
    background-color: #EEFFCE;
    cursor: pointer;
}

#menuButton:active {
    box-shadow: none;
    top: 8px;
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: #FF665B;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    font-family: Tahoma, Geneva, sans-serif;
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #E8FCE5;
    display: block;
    transition: 0.3s;
}


.sidenav a:hover {
    color: #D9E8BE;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
#user-info {
    text-align: center;

}
#message-div {
    text-align: center;
}

.item-title:hover {
    color: blue;
}

#map {
    height: 600px;
    width: 70%;
}

#map-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#item-display {
    /* border: solid 1px; */
    margin-left: 10px;
    width: 20%;

}

#item-div {
    width: 25%;
    height: 25%
    /* display:flex; */
    /* border: solid 1px; */
}
#item-show{
    height: 75%
}
#item-info {
    display: flex;
    flex-direction: column;
}
#user-form{
  text-align: center;
  padding: 20px 20px 20px 20px;
  display:flex;
  /* border: solid 6px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: #FBFFF4;
  text-align: center;
  font-size: 10pt;
  /* font-weight:  bold; */
}
#user-form h1{
  animation-name: moveRight;
  animation-direction: alternate-reverse;
  animation-duration: 2s;
  font-size: 38pt;
  font-family: Tahoma, Geneva, sans-serif;
}
#user-info{
  animation-name: fadeIn;
  animation-duration: 3s;
  text-align: center;
  font-size: 34pt;
  color: #E8FCE5;
  font-family: Tahoma, Geneva, sans-serif;
}

#item-display{
  color: #E8FCE5;
  font-family: Tahoma, Geneva, sans-serif;
}

#item-display p {
  font-size: 10pt;

}

#item-form h5{
  color: #FF665B
}

#item-div{
  background-color: #A7E5A5;
  list-style-type: none;
  padding: 0;
  border-radius: 3px;
  color: #E8FCE5;
  font-family: Tahoma, Geneva, sans-serif;

}

.form-row {
  display: flex;
  justify-content: flex-end;
  /* padding: .5em; */
}
.form-row > label {
  padding: 0 0 0 0;
}
.form-row > input {
  flex: 10;
}
.form-row > input,
.form-row > button {
  padding: 0;
}
.form-row > button {
 background: gray;
 color: white;
 border: solid 1px;
}
