#menuButton {
    background-color: #BAF2D8;
    box-shadow: 0 5px 0 #FE5F55;
    color: #650000;
    padding: 1em 1.5em;
    margin-left: 40px;
    text-decoration: none;
    text-transform: uppercase;
}

#menuButton:hover {
    background-color: #079596;
    cursor: pointer;
}

#menuButton:active {
    box-shadow: none;
    top: 5px;
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: #FE5F55;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #BAF2D8;
    display: block;
    transition: 0.3s;
}


.sidenav a:hover {
    color: #f1f1f1;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
#user-info {
    text-align: center;
    
}
#message-div {
    text-align: center;
}

.item-title:hover {
    color: blue;
}

#map {
    height: 500px;
    width: 900px;
    margin-left: 250px;
}

#map-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#item-display {
    border: solid 1px;
    margin-right: 10%;
    width: 30%;

}

#itemDiv {
    margin-left: 250px;
}